{% extends 'base.html' %}
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>{% block title %}Document{% endblock title %}</title>
</head>

<body>
    {% block content %}
    <br>
    <nav class="navbar navbar-expand-lg bg-dark border-dark">
        <div class="container-fluid">
            <a class="navbar-brand font-weight-bolder text-light" href="{% url 'Product:home' %}"
                style="font-size:4ch;">REMI'S 💎 JEWELS</a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
                data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false"
                aria-label="Toggle navigation">
                <span class="navbar-toggler-icon">🛒</span>
            </button>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <br>
                <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                    {% for jewelry_type in jewelry_types %}
                    <li class="nav-item">
                        <a class="nav-link text-light text-uppercase" href=""
                            style="font-size:2.5ch">{{jewelry_type.name}}</a>
                        {% endfor %}
                </ul>
                <a href="" class="text-light btn btn-warning">Log in</a>
                <b class="m-3"></b>
                <a href="" class="text-light btn btn-warning">Sign Up</a>
            </div>
        </div>
    </nav>
    <div class="layout_padding gallery_section">
        <div class="container">
            <div class="row">
                {% for jewelry in jewelries %}
                <div class="col-sm-4">
                    <div class="best_shoes">
                        <p class="best_text">{{jewelry.name}}</p>
                        <div class="shoes_icon"><img src="media/{{jewelry.image}}"></div>
                        <div class="star_text">
                            <div class="left_part">
                                <ul>
                                    <li>
                                        <strong class="text-light fs-4">{{jewelry.star}}</strong><img
                                            src="media/star-icon.png" width="20" height="20">
                                    </li>
                                </ul>
                            </div>
                            <div class="right_part">
                                <div class="shoes_price">$<span style="color: #ff4e5b;">{{jewelry.price}}</span></div>
                            </div>
                        </div>
                    </div>
                </div>
                {% endfor %}

                <div class="buy_now_bt mb-3">
                    <button class="buy_text"><a href="/Jewelry.html">See more</a></button>
                </div>
            </div>
        </div>
    </div>
    {% endblock content %}
</body>

</html>